<footer>
  <div>
	<h3>Contact Information</h3>
	<hr />
	<p>Like many people, due to multiple affiliations, I have several email addresses. However, I always keep them funneling to the same location where I read them. I intend for the address <a href="w.heym@ieee.org">w.heym@ieee.org</a> to follow me throughout my lifetime. Hence, please contact me there: <a href="w.heym@ieee.org">w.heym@ieee.org</a>. Currently, you may also reach me through my office telephone at (614)247-6803. My office is room 481 of Dreese Laboratories (DL 481). Click <a href="./schedule.html">here</a> for my schedule.</p>
  </div>
</footer>