---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<h1 class="title">CSE 2231 Home Page</h1>

  <h2 class="title">Links</h2>

  <div class="links">
    <ul>
      <li><a href="http://cse.osu.edu/software/web/index.html">Software
          Components Course Sequence Home Page</a></li>
      <li><a href="http://cse.osu.edu/software/web/policies.html">Course
          Policies</a></li>
      <li><a href="schedule.html">Detailed Schedule (with links
          to readings, assignments, slides, etc.)</a></li>
      <li><a href="http://piazza.com/class/">Piazza (for
          discussions)</a></li>
      <li><a href="http://carmen.osu.edu">Carmen (for project
          assignment submissions and grades)</a></li>
      <li>Reference Materials
        <ul>
          <li><a
            href="http://proquest.safaribooksonline.com.proxy.lib.ohio-state.edu/book/-/9781118087886">Horstmann:
              <i>Big Java Late Objects</i>
          </a></li>
          <li><a
            href="http://proquest.safaribooksonline.com.proxy.lib.ohio-state.edu/book/programming/java/9780137150021">Bloch:
              <i>Effective Java, 2nd Edition</i>
          </a></li>
          <li><a
            href="http://download.oracle.com/javase/tutorial/reallybigindex.html">Online
              Java Tutorials</a></li>
          <li><a href="http://download.oracle.com/javase/7/docs/api">Java
              Libraries API</a></li>
          <li><a href="http://cse.osu.edu/software/common/doc/">OSU
              CSE Components API</a></li>
          <li><a
            href="http://cse.osu.edu/software/common/components.jar">OSU
              CSE Components JAR File</a></li>
          <li><a
            href="http://cse.osu.edu/software/common/OsuCseWsTemplate.zip">OSU
              CSE Eclipse Workspace Template</a></li>
          <li><a
            href="http://cse.osu.edu/software/common/ProjectTemplate.zip">OSU
              CSE Eclipse Project Template</a></li>
          <li><a
            href="http://cse.osu.edu/software/common/OsuCseJavadocTags.txt">OSU
              CSE Eclipse Custom Javadoc Tags Options</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <h2 class="title">Instructor & Section Specifics</h2>

  <div class="links">
    <ul>
      <li>8:00/9:10/11:30 sections: <a href="JeremyMorris.html">Jeremy Morris's Sections</a></li>
      <li>10:20/12:40 sections: <a href="WayneHeym.html">Wayne Heym's Sections</a></li>
      <li>1:50/3:00/4:10 sections: <a
        href="http://cse.osu.edu/~wolfann/cse2231/">Anna Wolf's Sections</a></li>
    </ul>
  </div>
<p></p>