---
title: Wayne D. Heym
---

<div id="main-container">
  <div class="main-content">
	<div class="column-two" id="left-main">
	  <img alt="image of Wayne" src="img/heym.jpg">
	</div>
	<div class="column-two" id="right-main">
	  <h1>Wayne D. Heym</h1>
	  <h4>Senior Lecturer at <a href="http://www.osu.edu">The Ohio State University</a></h4>
	  <p>I enjoy introducing beginning programmers to the wonders in the art and science of computer programming.</p>
	</div>
  </div>
  <div class="main-content">
	<div class="column-two">
	  <h1>My Interests...</h1>			
	</div>
	<div class="column-two">
	  <p id="interests">Software Engineering (SE) is the sub-field of computer science that attracts most of my attention. In SE, we seek to invent and evaluate methods for producing quality software in less time at lower costs. I enjoy introducing beginning programmers to the wonders in the art and science of computer programming. I also like leading programmers into the rich and satisfying realm of the theoretical foundations of computer science.</p>
	</div>		
  </div>
</div>