---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
  <h2 class="title">Class Meetings</h2>

  <ul class="first">
    <li>WeFr 8:00-8:55 AM (lecture/activity) in DL 357</li>
    <li>TuTh 8:00-8:55 AM (lab) in DL 280</li>
  </ul>

  <ul class="second">
    <li>WeFr 9:10-10:05 AM (lecture/activity) in DL 357</li>
    <li>TuTh 9:10-10:05 AM (lab) in DL 280</li>
  </ul>

  <ul class="third">
      <li>WeFr 11:30-12:25 AM (lecture/activity) in DL 357</li>
      <li>TuTh 11:30-12:25 AM (lab) in DL 280</li>
  </ul>

  <h3 class="title">Midterm Exams</h3>

  <ul class="first">
    <li>Thursday, Oct 2, 8:00-8:55 AM, in <b><font>DL 357</font></b></li>
    <li>Wednesday, Nov 12, 8:00-8:55 AM, in <b><font>DL 357</font></b></li>
  </ul>

  <ul class="second">
      <li>Thursday, Oct 2, 9:10-10:05 AM, in <b><font>DL 357</font></b></li>
      <li>Wednesday, Nov 12, 9:10-10:05 AM, in <b><font>DL 357</font></b></li>
  </ul>

   <ul class="third">
    <li>Thursday, Oct 2, 11:30-12:25 AM, in <b><font>DL 357</font></b></li>
    <li>Wednesday, Nov 12, 11:30-12:25 AM, in <b><font>DL 357</font></b></li>
  </ul>
  
  <h3 class="title">Final Exam</h3>

  <ul class="first">
    <li>Monday, Dec 15, 8:00-9:45 AM, in <b><font>TBD</font></b></li>
  </ul>
  <ul class="second">
    <li>Friday, Dec 12, 10:00-11:45 AM, in <b><font>TBD</font></b></li>
  </ul>
   <ul class="third">
    <li>Tuesday, Dec 16, noon-1:45 PM, in <b><font>TBD</font></b></li>
  </ul>
  

  <h3 class="title">Grader(s)</h3>

  <ul class="first">
    <li>Austin Alexander (.648)
      <ul>
        <li>Caldwell 420</li>
        <li>Office hours:
          <ul>
            <li>2:00pm - 4:00pm TR</li>
            <li>by appointment</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

<ul class="second">
  <li>Max Wilson (.2122)
    <ul>
      <li>Caldwell 420</li>
      <li>Office hours:
        <ul>
          <li>11:30am - 2:30pm WF</li>
          <li>by appointment</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>William Osler (.6)
    <ul>
      <li>Caldwell 112F</li>
      <li>Office hours:
        <ul>
          <li>9:15am - 11:15am TR</li>
          <li>by appointment</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="third">
  <li>Ka-wai Wong (.495)
    <ul>
      <li>Caldwell 420</li>
      <li>Office hours:
        <ul>
          <li>1:50pm - 2:45pm MW</li>
          <li>12:40pm - 2:45pm T</li>
          <li>by appointment</li>
        </ul>
      </li>
    </ul>
  </li> 
</ul>
   <h3 class="title">Instructor</h3>

  <ul>
    <li><a class="scarlet" href="http://www.cse.osu.edu/%7Emorrijer">Jeremy
        Morris</a> (.343)
      <ul>
        <li>Office: DL 299</li>
        <li>Phone: 688-5610</li>
        <li>Office hours:
          <ul>
           <li>TWRF 10:15 - 11:15am</li>
 
            <li>or by appointment</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
