---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<div id="main-container">
  <div class="main-content">
	<p style="width: 73%;top: 70px;position: relative; font-weight: bold; font-size: 20px;margin: 0 auto; padding: 0;color: black">Links</p>
	<hr style="margin: 0 auto 7px auto">

	<ul>
		<li>
	  <a href="http://web.cse.ohio.state.edu/sce/now/">Software Component 
	   Engineering Course Sequece Home Page </a>
	</li>
	<li>
	  <a href="opinions.html">Opinions</a>
	</li>
	<li>
	  <a href="http://web.cse.ohio-state.edu/rsrg/"> Ohio State University
	   Resuable Software Research Group (RSRG) </a>
	</li>
	<li>
	  <a href="http://web.cse.ohio-state.edu/rsrg/RESOLVE-2009">RESOLVE 2009</a>
	</li>
	<li>
	  My Ph.D dissertation is available in its origonal form as a 
	  <a href="http://web.cse.ohio.state.edu/rsrg/documents/1995/95HeymDissertation.pdf">[PDF:1.28mb]</a>
	  file or as a two - sided, single - spaced technical report in
	  <a href="http://web.cse.ohio-state.edu/rsrg/documents/TR55/">[PDF Directory - 7 files] </a>
	    or 
	  <a href="http://ftp.cse.ohio-state.edu/pub/tech-report/1995/TR55-DIR/">{Postscript Directory - 7 files]</a>
	  format.
	</li>
	<li>
	  <a href="http://www.amc.org/"> AMC, The First Society in Computing</a>
	</li>
	<li>
	  <a href="http://www.computer.org/">IEEE Computer Society</a>
	</li>
	<li>
	  <a href="http://www.tcse.org/"> TCSE: Technical Council on Software Engineering</a>
	</li>
	<li>
	  <a href="http://www.amc.org/sigcse/">AMC Special Interest Group (SIG)
	   in Computer Science Education (SIGCSE)</a>
	</li>
	<li>
	  <a href="http://www.ncwit.org/">National Center for Women and 
	 Information Technology</a>"   (Please see " 
	  <a href="http://www.ncwit.org/pdf/NCWIT_STATSD_05.pdf">"By The Numbers"(pdf: 239,206 bytes)</a>")"
	</li>
	<li>
	  <a href="http://www.ocwic.org/">Ohio Celebration of Women in Computing; http://www.ocwic.org</a>
	</li>
	<li>
	<!--THIS LINK NEEDS TO GO TO TOMS SCHEDULE PAGE-->
	  <a href="schedule.html">Scheduling Table</a>
	</li>
	<li>
		VNC stands for Virtual NEtwork Computing. In short it is a way to access
		the cse login servers remorely in a manner similar to doing a remote
		query with Xwin-32 or eXceed, but unlike a remote X query the session will be
		faster, easier to manage, and work thrugh a NAT or IP Masquerade gate way 
		easily. Here are <a href="htto://web.cse.ohio-state.edu/%7Erowland/vnc/"> instructions for using VNC</a> "."
	</li>
	<li>
	  <a href="http://www.icce.rug.nl/documents/cplusplus">The C++ Annotations</a>
	</li>
	<li>
	  <a href="teaching-with-phrogram.html"> Teaching with Phrogram</a>
	</li>
	</ul>
  </div>
</div>