---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->

<table class="schedule">
  <caption> Wayne Heym - Autumn 2014 </caption>
  <tr>
    <th></th>
    <th> Monday</th>
    <th> Tuesday</th>
    <th> Wednesday</th>
    <th> Thursday</th>
    <th> Friday</th>
  </tr>
  <tr>
    <th>8:00-8:55</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <tr>
    <th>9:10-10:05</th>
    <th class="office">Office Hour (DL 481)</th>
    <th class="office">Office Hour (DL 481)</th>
    <th class="office">Office Hour (DL 481)</th>
    <th class="office">Office Hour (DL 481)</th>
    <th class="office">Office Hour (DL 481)</th>
  </tr>
    <tr>
    <th>10:20-11:15</th>
    <th></th>
    <th class="orange">CSE 2231 (DL 357)</th>
    <th class="orange">CSE 2231 (DL 280)</th>
    <th class="orange">CSE 2231 (DL 357)</th>
    <th class="orange">CSE 2231 (DL 280)</th>
  </tr>
    <tr>
    <th>11:30-12:25</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <tr>
    <th>12:40-1:35</th>
    <th class="rsrg">RSRG (DL 698)</th>
    <th class="red">CSE 2231 (DL 357)</th>
    <th class="red">CSE 2231 (DL 280)</th>
    <th class="red">CSE 2231 (DL 357)</th>
    <th class="red">CSE 2231 (DL 280)</th>
  </tr>
    <tr>
    <th>1:50-2:45</th>
    <th class="blue">CSE 3341 (BE 394)</th>
    <th></th>
    <th class="blue">CSE 3341 (BE 394)</th>
    <th></th>
    <th class="blue">CSE 3341 (BE 394)</th>
  </tr>
    <tr>
    <th>3:00-3:55</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <tr>
    <th>4:10-5:05</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
