---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<table>
	<caption> Work Experiences  </caption>
	<tr> <th scope="col">Title</th>
		<th scope="col">Employer</th>
		<th scope="col">Year</th>
	</tr>
	<tr> 
		<th scope="row">Senior Lecturer, <a href="http://web.cse.ohio-state.edu/">Computer Science and Engineering</a></th>
		<td> <a href="http://www.osu.edu/">The Ohio State University </a></td>
		<td> 1999-present</td>
	</tr>
	<tr> 
		<th scope="row">Assistant Professor, Computer Science</th>
		<td><a href="http://www.otterbein.edu/">Otterbein College</a></td>
		<td> 1994-1999</td>
	</tr>
	<tr> 
		<th scope="row">Graduate Teaching and Research Associate, <a href="http://web.cse.ohio-state.edu/">Computer and Information Science</a></th>
		<td> <a href="http://www.osu.edu/">The Ohio State University </a></td>
		<td> 1988-1995 </td>
	</tr>
	<tr> 
		<th scope="row">Research Support Specialist, <a href="http://www.fvs.cornell.edu/">Dept. of Vegetable Crops</a></th>
		<td> <a href="http://www.cornell.edu/">Cornell University </a></td>
		<td> 1984-1988 </td>
	</tr>
	<tr>
		<th scope="row"> Software Developer </th>
		<td> Symbol Sound, Ithaca, NY </td>
		<td> 1983-1984 </td>
	</tr>
	<tr>
		<th scope="row"> Programmer/Analyst I </th>
		<td> <a href="http://www.kodak.com/">Eastman Kodak Company, Administrative Services Division, serving the Distribution Division </a></td>
		<td> 1980-1983 </td>
	</tr>
</table>
<table width="75%">
	<caption> Education  </caption>
	<tr> <th scope="col">Degree</th>
		<th scope="col">University</th>
		<th scope="col">Year</th>
	</tr>
	<tr> 
		<th scope="row">Ph.D., <a href="http://web.cse.ohio-state.edu/">Computer and Information Science</a></th>
		<td> <a href="http://www.osu.edu/">The Ohio State University </a></td>
		<td> 1995</td>
	</tr>
	<tr> 
		<th scope="row">M.S., <a href="http://web.cse.ohio-state.edu/">Computer and Information Science</a></th>
		<td> <a href="http://www.osu.edu/">The Ohio State University </a></td>
		<td> 1989</td>
	</tr>
	<tr> 
		<th scope="row">M.S., <a href="http://www.orie.cornell.edu/">Operations Research</a></th>
		<td> <a href="http://www.cornell.edu/">Cornell University</a></td>
		<td> 1980 </td>
	</tr>
	<tr> 
		<th scope="row">B.Phil., <a href="http://miavx1.muohio.edu/~mstcwis/">Interdisciplinary Studies (Mathematics Concentration)</a></th>
		<td> <a href="http://www.muohio.edu/"> Miami University</a></td>
		<td> 1984-1988 </td>
	</tr>
</table>
